body{
    background-color:cornflowerblue;
    text-align: center;
}
.logo{
    position: relative;
    width: 297px;
    margin-top: 10px;
}
.imagem{
    position: relative;
    margin: 20px;
    height: 25px;
}
.referencia{
    position: relative;
    height: 50px;
}
